# Syntax

In [3]:
# indentation
a = 30
b = 20
if a > b:
    print("A is greater than B!")
else:
    print("B is greater than A!")

A is greater than B!

In [58]:
# Case sensitive
salary = 100000
Salary = 150000
SALARY = 200000
print(Salary)

150000

In [61]:
name = "Prajwal"
Name = "Prajwal"
NAME = "Prajwal"
print(name == Name == NAME)

True

In [59]:
salary == Salary

False

In [13]:
# Comments

# this is a comment

'''
this is multiline comment
'''

"""
this is also a multiline comment
"""

'\nthis is also a multiline comment\n'

In [14]:
# Statement

first_name = "John"
last_name = "Doe"
print(first_name + " " + last_name)

John Doe

In [16]:
first_name = "John"; last_name = "Doe"; print(first_name + " " + last_name)
# this is not recommended

John Doe

In [20]:
# input from user
name = input("Enter your name: ")
# printing output
print("Hello, " + name)

Hello,

In [12]:
value = int(input("Enter your value: "))
print(value)

4

### Keywords and Identifiers

In [5]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [6]:
# idenfer is a name given to entities like class, functions, variables etc.

# Variable
In python we have dynamic typing, you dont have to specify the variable's data type. 

( A variable is a specific type of identifier that holds a value.)

In [21]:
# Numeric values
x = 3
y = 5
z = x + y

In [63]:
# string values
college_name = "ABC College"
address = "XYZ Street, Lalitpur"
college = college_name + ", " + address
print(college)

ABC College, XYZ Street, Lalitpur

In [1]:
# Dymanic Binding : Changing the value of variable
subject = "Computer Science"
print(subject)
subject = "Physics"
print(subject)

Computer Science
Physics

In [31]:
a,b,c = "coke", "fanta", "sprite"
print(a)
print(b)
print(c)

coke
fanta
sprite

In [29]:
p = q = r = "soda"
print(p)
print(q)
print(r)

soda
soda
soda

In [33]:
#variable name 
first_var = "Hello1"
firstVar = "Hello2"
firstvar = "Hello3"
FIRST_VAR = "Hello4"
first_Var = "Hello5"
_first_var = "Hello6"

print(_first_var)

Hello6

In [34]:
5first_var = "Hello7" # invalid variable name

SyntaxError: invalid decimal literal (3681770041.py, line 1)

In [34]:
#Constants ( Try to use all uppercase letters)
PI = 3.14159

# Data Type

In [39]:
# Numeric Data types

num1 = 5
num2 = 3.14
num3 = 5j+2

print("Data type of num1 is", type(num1))
print("Data type of num2 is", type(num2))
print("Data type of num3 is", type(num3))

Data type of num1 is <class 'int'>
Data type of num2 is <class 'float'>
Data type of num3 is <class 'complex'>

In [41]:
# string data type

name = "John Doe"

print("Data type of name is", type(name))

Data type of name is <class 'str'>

In [67]:

value = 5

print("Data type of value is", type(value))

Data type of value is <class 'int'>

In [43]:
a = "Artificial Intelligence"
b= 'Machine Learning'
print(a)
print(b)

# using ',' to concatenate the two or more strings
print(a,"concatenated with",b)

#using '+' to concate the two or more strings
print(a+" concated with "+b)

Artificial Intelligence
Machine Learning
Artificial Intelligence concatenated with Machine Learning
Artificial Intelligence concated with Machine Learning

In [40]:
# List Data type
programing_language = ["Python", "Java", "C++", "C#"]
print("Data type of programing_language is", type(programing_language))

Data type of programing_language is <class 'list'>

In [44]:
programing_language[0]

'Python'

In [57]:
#range data type
x = range(5)
print("Data type of x is", type(x))

Data type of x is <class 'range'>

In [46]:
# Tuple Data type
fruits = ("Apple", "Banana", "Cherry", "Date")
print("Data type of fruits is", type(fruits))
print(fruits[0])

Data type of fruits is <class 'tuple'>
Apple

In [49]:
# Set Data type
colors = {"Red", "Green", "Blue", "Yellow"}
print("Data type of colors is", type(colors))
# colors[0] # set does not support indexing

Data type of colors is <class 'set'>

In [52]:
# Dictionary Data type
person = {
    "name": "John Doe",
    'age': 30,
    'address': "Kathmandu"}
print("Data type of person is", type(person))
print(person['address'])

Data type of person is <class 'dict'>
Kathmandu

In [54]:
#boolean data type
x = True
print("Data type of x is", type(x))

Data type of x is <class 'bool'>

### Lets understand the fundamental a bit more deeply

In [75]:
a = "5"
b = 5
print(a == b) # unlike other programming languages, python automatically checks value eauality

False

In [77]:
# Type Conversion
a = "3.14"
# b = int(a)
# If you want to convert the floating-point string '3.14' into an integer, you should first convert it to a float and then to an integer.
b = int(float(a))
c = float(b)

print(type(a))
print(b)
print(type(b))
print(c)
print(type(c))

<class 'str'>
3
<class 'int'>
3.0
<class 'float'>

##### Mutable Vs Immutable

In [78]:
# List is mutable
my_list = [1, 2, 3]
my_list[0] = 10  

my_list.append(4)

print(my_list)

[10, 2, 3, 4]

In [25]:
# Tuple is immutable
my_tuple = (1, 2, 3)
my_tuple[0] = 10

TypeError: 'tuple' object does not support item assignment

In [26]:
#set is mutable
my_set = {1, 2, 3}
my_set.add(4)
print(my_set)

{1, 2, 3, 4}

In [28]:
# Dictionary is mutable
my_dict = {"name": "John Doe", "age": 30}
my_dict["name"] = "Alex Doe"
print(my_dict)

{'name': 'Alex Doe', 'age': 30}

In [79]:
# strig is immutable
my_string = "Python"
my_string[0] = "J"

TypeError: 'str' object does not support item assignment

In [30]:
# Howeer, you can concatenate strings to create a new string
my_string = "Python"
new_string = "J" + my_string[1:]
print(new_string)

Jython

In [85]:
my_list = [5, 10, 15, 20]
my_list[0] = 100
print(my_list)
my_list.append(25)
print(my_list)
my_list.insert(2, 8)  
print(my_list)
my_list.remove(20)  
print(my_list)
my_list.pop(1)
print(my_list)
my_list.extend([6, 7])
my_list.extend([6, 7])
print(my_list)
# my_list.clear()
# print(my_list)

[100, 10, 15, 20]
[100, 10, 15, 20, 25]
[100, 10, 8, 15, 20, 25]
[100, 10, 8, 15, 25]
[100, 8, 15, 25]
[100, 8, 15, 25, 6, 7, 6, 7]

In [89]:
my_list.count(7) 
my_list.index(6) 
my_list.sort() 
# # my_list.sort(reverse=True) 
print(my_list)

[6, 6, 7, 7, 8, 15, 25, 100]

# **H1**
## H2
### H3
#### H4
##### H5
###### H6

#### List comprehension

In [70]:
my_squared_list = [x**2 for x in my_list] 
my_squared_list

[10000, 625, 225, 64, 49, 36]

In [1]:
pairs = [(i, j) for i in range(1, 4) for j in range(4, 7)]
print(pairs)  
# Output: [(1, 4), (1, 5), (1, 6), (2, 4), (2, 5), (2, 6), (3, 4), (3, 5), (3, 6)]

[(1, 4), (1, 5), (1, 6), (2, 4), (2, 5), (2, 6), (3, 4), (3, 5), (3, 6)]

In [2]:
matrix = [[1, 2, 3], [4, 5], [6, 7, 8, 9]]
flattened = [item for row in matrix for item in row]
print(flattened)  
# Output: [1, 2, 3, 4, 5, 6, 7, 8, 9]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [71]:
# Similar for to sets

In [3]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9]
remainders = {x % 3 for x in numbers}
print(remainders)  
# Output: {0, 1, 2}

{0, 1, 2}

In [4]:
original = {'a': 1, 'b': 2, 'c': 3}
swapped = {value: key for key, value in original.items()}
print(swapped)  
# Output: {1: 'a', 2: 'b', 3: 'c'}

{1: 'a', 2: 'b', 3: 'c'}

In [6]:
# code to find unique words
sentence = "Python is fun and Python is powerful"
unique_words = {word.lower() for word in sentence.split()}
print("Unique words:", unique_words)

Unique words: {'powerful', 'fun', 'is', 'python', 'and'}